/* default layout */
.layout {
  max-width: none;
  margin: 0 auto;
  padding: 20px 10px 20px 10px;
  width: 100%;
}
@media screen and (min-width: 901px) {
  .layout {
    padding: 30px 10px 30px 10px;
  }
}
@media screen and (min-width: 1281px) {
  .layout {
    max-width: 1250px;
  }
}
@media screen and (min-width: 1501px) {
  .layout {
    max-width: 1650px;
    padding: 30px 130px 30px 130px;
  }
}
@media screen and (min-width: 1701px) {
  .layout {
    max-width: 1800px;
  }
}


#page-header {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
#content-inner,
#footer {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
#nav.show {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
#page-header.nav-visible #nav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}


/* nav */
#nav {
  position: fixed;
  font-size: 1.4em;
}
@media screen and (max-width: 900px) {
  #nav {
    padding: 0 20px;
  }
}
#nav #blog_name #site-name img {
  height: 33px;
  display: inline-block;
  margin-top: 13px;
}
#page-header.full_page:not(.nav-fixed) #nav #blog_name #site-name img {
  display: none;
}
#nav .menus_items .menus_item:hover > a.group > i:first-child {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#nav .menus_items .menus_item > a.group > i:first-child {
  padding: 4px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
}
#page-header:not(.not-top-img):before {
  background: linear-gradient(rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.7) 100%);
}

#page-header #scroll-down .scroll-down-effects {
  font-size: 70px;
}
#page-header #scroll-down {
  padding-top: 100vh;
  bottom: 20px;
}

#content-inner {
  min-height: calc(100vh - 148px);
  padding-top: 80px;
}

/* aside & sidebar */
#page-header.nav-visible + .layout > .aside-content > .sticky_layout {
  top: 80px;
}
#page-header.not-top-img {
  margin-bottom: 0px;
  height: 0px;
  background: 0;
}
#aside-content > .sticky_layout > .card-widget {
  margin-top: 20px;
}
#aside-content > .sticky_layout > .card-widget:first-child {
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  #aside-content .card-info {
    display: none;
  }
}
#aside-content .card-info .avatar-img {
  border: none;
}
.avatar-img img {
  -webkit-transition: filter 375ms ease-in 0.2s;
  -moz-transition: filter 375ms ease-in 0.2s;
  -o-transition: filter 375ms ease-in 0.2s;
  -ms-transition: filter 375ms ease-in 0.2s;
   transition: filter 375ms ease-in 0.2s;
}
#aside-content .card-info .author-info__description {
  margin-top: -0.42em;
  line-height: 1.4;
  word-break: keep-all;
}
.cardHover,
.error404 #error-wrap .error-content,
.layout > div:first-child:not(.recent-posts),
#recent-posts > .recent-post-item,
#aside-content .card-widget,
.layout > .recent-posts .pagination > * {
  border-radius: 3px;
}
@media screen and (min-width: 901px) and (max-width: 1024px) {
  #aside-content .card-info .author-info__name {
    font-size: 2.1vw;
  }
}
#sidebar #sidebar-menus > .avatar-img {
  margin: 40px auto 20px;
}
#sidebar .author-info__name {
font-size: 1.6em;
font-weight: 700;
margin: -13px 0 -6px;
}

#sidebar .fa-truck:before {
  margin-left: -2px;
}
#sidebar .fa-map-marker-alt:before {
  margin-left: 2px;
}
#sidebar .fa-chevron-down:before {
  margin-left: 1px;
}
#sidebar .fa-images:before {
  margin-left: -1px;
}

#aside-content .card-info #card-info-btn span ,
#sidebar #sidebar-menus #card-info-btn span {
  padding-left: 7px;
}
#sidebar #sidebar-menus #card-info-btn {
  display: block;
  margin-top: 14px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  text-align: center;
  line-height: 2.4;
  font-size: 1.1em;
}
#sidebar #sidebar-menus .menus_items {
  padding-top: 10px;
}

/* kakao-map */
#aside-content #kakao-link ,
#aside-content #naver-link {
  display: block;
  background-color: #eee;
  color: #999;
  text-align: center;
  line-height: 2;
  margin-top: 4px;
}
#aside-content #kakao-link:hover ,
#aside-content #naver-link:hover {
  background-color: #a2c8f1;
  color: #fff;
}
#aside-content #naver-link:active ,
#aside-content #kakao-link:active {
  background-color: #ffbfc9;
  color: #fff;
}

/* pagination */
/*#pagination .pagination {*/
/*  margin-bottom: 20px;*/
/*}*/

/* footer */
#footer {
  padding: 20px 30px;
}
#footer:before {
    content: none;
}
#footer-wrap {
  padding: 0;
  line-height: 1.8;
}
#footer-wrap .footer_custom_text {
  text-align: left;
  color: #818181;
  word-break: keep-all;
}
@media screen and (max-width: 758px) {
  #footer-wrap .footer_custom_text {
    font-size: 14px;
  }
}
#footer-wrap .footer_custom_text span {
  white-space: break-spaces;
}
#footer-wrap .framework-info {
  position: absolute;
  bottom: -17px;
  right: -17px;
  color: #c9c9c9;
  font-size: 13px;
}
#footer-wrap .framework-info a {
  color: #c9c9c9;
}

/* rightside */
#rightside {
  position: fixed;
  right: -28px;
  bottom: 20px;
}

/* page */
.layout > div:first-child:not(.recent-posts) {
  padding: 50px 40px;
}
@media screen and (max-width: 900px) {
  #aside-content > .sticky_layout > .card-widget:first-child {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .layout > div:first-child:not(.recent-posts) {
    padding: 36px 14px;
  }
}
#page h1.page-title {
margin: -12px 0 15px;
}

/* page - homepage */
#recent-posts > .recent-post-item {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 15em;
}
@media screen and (max-width: 768px) {
  #recent-posts > .recent-post-item {
    height: 230px;
  }
}
#recent-posts > .recent-post-item .post_cover {
  overflow: hidden;
  width: 44%;
  max-width: 27em;
  height: 100%;
}
#recent-posts > .recent-post-item >.recent-post-info {
  padding: 20px 40px;
  width: 56%;
  /*min-width: ;*/
}
@media screen and (max-width: 768px) {
  #recent-posts > .recent-post-item >.recent-post-info {
    padding: 20px 30px;
  }
}
#recent-posts > .recent-post-item >.recent-post-info.no-cover {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #recent-posts > .recent-post-item >.recent-post-info.no-cover {
    padding: 30px 20px;
  }
}

#recent-posts:not(.category_ui):not(.tag_ui) #pagination {
  display: none;
}


/* page - link*/
#article-container .flink .flink-list > .flink-list-item {
  height: auto;
}
#article-container .flink .flink-list > .flink-list-item:before {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-icon {
  float: none;
  border-radius: 0px;
  width: auto;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-icon img {
  object-fit: contain;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-name {
  padding: 3px 10px 9px;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-name {
  height: 33px;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-desc {
  height: auto;
  padding: 0;
}

/* post */
#article-container .tabs > .tab-contents .tab-item-content {
  padding: 24px;
}
@media screen and (max-width: 768px) {
  #article-container .tabs > .tab-contents .tab-item-content {
    padding: 14px;
  }
}
#aside-content #card-toc .toc-percentage {
  display: none;
}

a:focus {
  outline: none;
}

#article-container h1:before {
  margin-left: -30px;
}
#article-container h2:before {
  margin-left: -28px;
}
#article-container h3:before {
  margin-left: -26px;
}
#article-container h4:before {
  margin-left: -24px;
}
#article-container h5:before {
  margin-left: -22px;
}
#article-container h6:before {
  margin-left: -22px;
}
#article-container h1:before,
#article-container h2:before,
#article-container h3:before,
#article-container h4:before,
#article-container h5:before,
#article-container h6:before {
  top: calc(50% - 8px);
}

hr {
margin: 20px auto;
border: none;
border-top: 3px dashed var(--hr-border);
}
#article-container ul > li {
  list-style-type: disc;
}
#article-container ol > li > ul > li ,
#article-container ul > li > ul > li {
  list-style-type: circle;
}
#article-container ol > li > ol > li ,
#article-container ul > li > ol > li {
  list-style-type: lower-alpha;
}

#post div.tag_share {
  display: none;
}
#post nav.pagination-post {
  margin-top:20px;
}



@-webkit-keyframes panorama {
    from { background-position: 0px; }
    to { background-position: -2975px; } /* The width of the panorama image is 2975px, the panorama moves from left to right  */
}

@-moz-keyframes panorama {
    from { background-position: 0px; }
    to { background-position: -2975px; }
}

@keyframes panorama {
    from { background-position: 0px; }
    to { background-position: -2975px; }
}
 #panoramaView {
 width: 100%; /* Animation Container - width and height of the display box */
 height: 200px;
 /*background: url(/img/homepage-banner-2.jpg) no-repeat 0 0; !* The panorama as background image *!*/
 background: url(/img/homepage-banner-1.jpg) repeat-x;
 background-size: cover;
   /* Animation START */
   /* -webkit-animation: panorama 30s steps(800, end) infinite;  !* 18 seconds total animation time, 800 frames x 800 pixel (the width of Animation Container) = 1 frame every 1 px scrolling, infinite loop *!*/
   /* -moz-animation: panorama 30s steps(800, end) infinite;*/
   /* animation: panorama 30s steps(800, end) infinite;*/
    -webkit-animation: panorama 120s linear;
    -moz-animation: panorama 120s linear;
    animation: panorama 120s linear;
 /* Animation END */
}
