@media screen and (min-width: 900px) {
  #recent-posts {
    padding-left: 10px;
    padding-right: 10px;
  }
}
#recent-posts #intro-post {
  height: auto;
  width: 100%;
  display: block;
  line-height: 1;
  box-shadow: none;
  padding: 0;
}
#recent-posts #intro-post > div {
  margin:0 -3px;
}

#recent-posts:not(.category_ui):not(.tag_ui) #pagination {
  display: none;
}

#intro-post figure.gallery-group {
  position: relative;
  float: left;
  overflow: hidden;
  width: calc(33.333% - 6px);
  height: 260px;
  border-radius: 3px;
  background: #000;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 3px;
}
@media screen and (max-width: 1700px) {
  #intro-post figure.gallery-group {
    height: calc(60px + 10vw);
  }
}
@media screen and (max-width: 1500px) {
  #intro-post figure.gallery-group {
    height: 215px;
  }
}
@media screen and (max-width: 1280px) {
  #intro-post figure.gallery-group {
    height: calc(10px + 16vw);
  }
}
@media screen and (max-width: 1024px) {
  #intro-post figure.gallery-group {
    width: calc(50% - 6px);
    height: calc(10px + 22vw);
  }
}
@media screen and (max-width: 900px) {
  #intro-post figure.gallery-group {
    width: calc(33.333% - 6px);
    height: calc(10px + 21vw);
  }
}
@media screen and (max-width: 768px) {
  #intro-post figure.gallery-group {
    width: calc(50% - 6px);
    height: 31vw;
  }
}
#intro-post figure.gallery-group:hover img {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#intro-post figure.gallery-group .gallery-group-name:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  -ms-transition: -ms-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}
#intro-post figure.gallery-group:hover .gallery-group-name::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#intro-post figure.gallery-group:hover p {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#intro-post figure.gallery-group img {
  position: relative;
  margin: 0;
  max-width: none;
  width: calc(100% + 20px);
  height: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90) ;
  -webkit-transition: all 0.3s, filter 375ms ease-in 0.2s;
  -moz-transition: all 0.3s, filter 375ms ease-in 0.2s;
  -o-transition: all 0.3s, filter 375ms ease-in 0.2s;
  -ms-transition: all 0.3s, filter 375ms ease-in 0.2s;
  transition: all 0.3s, filter 375ms ease-in 0.2s;
  -webkit-transform: translate3d(-10px, 0, 0);
  -moz-transform: translate3d(-10px, 0, 0);
  -o-transform: translate3d(-10px, 0, 0);
  -ms-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  object-fit: cover;
}
#intro-post figure.gallery-group figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  /*text-align: center;*/
  text-shadow: 0px 0px 4px #00000066, 1px 1px 8px #00000066, 2px 2px 7px #00000099;
}
@media screen and (max-width: 1700px) {
  #intro-post figure.gallery-group figcaption {
    padding: 25px;
  }
}
@media screen and (max-width: 1280px) {
  #intro-post figure.gallery-group figcaption {
    padding: 2vw;
  }
}
@media screen and (max-width: 1024px) {
  #intro-post figure.gallery-group figcaption {
    padding: 3vw;
  }
}
#intro-post figure.gallery-group figcaption > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#intro-post figure.gallery-group p {
  margin: 0;
  padding: 8px 0 0;
  letter-spacing: 1px;
  font-size: 1.1em;
  line-height: 1.5;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  -o-transition: opacity 0.35s, -o-transform 0.35s;
  -ms-transition: opacity 0.35s, -ms-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-line-clamp: 4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
#intro-post figure.gallery-group .gallery-group-name {
  position: relative;
  margin: 0;
  padding: 8px 0;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5;
  -webkit-line-clamp: 2;
}
@media screen and (max-width: 1700px) {
  #intro-post figure.gallery-group .gallery-group-name {
    padding: 0.5vw 0;
    }
}
@media screen and (max-width: 900px) {
  #intro-post figure.gallery-group .gallery-group-name {
    font-size: 1.4em;
    }
}
#intro-post .gallery-group-main {
  overflow: auto;
  padding: 0 0 16px;
}


/* homepage - mobile */
@media screen and (max-width: 768px) {
  #intro-post figure.gallery-group .gallery-group-name {
    font-size: 3.25vw;
  }
  #intro-post figure.gallery-group p {
    font-size: 2vw;
  }
}

/* caption */
.fancybox__caption:before {
  content: "⊙ ";
}
.fancybox__caption:after {
  content: " ⊙";
}